:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btnPrimary{
    background-color: var(--primary);
    color: black;
    border: 1px solid var(--primary);
}

.btnOutline{
    background-color: transparent;
    color: black;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}