.heroContainer{
    /* margin-top: 20vh; */
    display: flex;
    align-items: center;
}

.heroLeft{
    color: var(--text);
    max-width: 590px;
    height: 400px;
    /* background-color: turquoise; */
    margin-left: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroLeftTitle{
    font-size: 64px;
}

.heroLeftParagraph{
    font-size: 16px;
}

canvas {
    height: 800px;
}